version: '3.4'

networks:
  app-tier:
    driver: bridge 

services:

  db.data:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - app-tier

  redis:
    image: 'bitnami/redis:latest'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - app-tier
    ports:
      - '6379:6379'

  rabbitmq:
    image: 'bitnami/rabbitmq:latest'
    networks:
      - app-tier
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - "$PWD/rabbitmq/data/log:/data/log"
      - "$PWD/rabbit_enabled_plugins:/etc/rabbitmq/enabled_plugins"

  consul:
    image: bitnami/consul:latest
    networks:
      - app-tier
    ports:
      - '8300:8300'
      - '8301:8301'
      - '8301:8301/udp'
      - '8500:8500'
      - '8600:8600'
      - '8600:8600/udp'

  apisgateways:
    image: ${DOCKER_REGISTRY-}apisgateways
    build:
      context: .
      dockerfile: APIsGateWays/Dockerfile
    networks:
      - app-tier
    ports:
      - '5000:80'

  authapi:
    image: ${DOCKER_REGISTRY-}authapi
    build:
      context: .
      dockerfile: AuthAPI/AuthAPI/Dockerfile
    networks:
      - app-tier
    environment:
      WAIT_HOSTS: db.data:1433, consul:8500
      WAIT_HOSTS_TIMEOUT: 300
    depends_on:
      - db.data
      - consul
    ports:
      - '5001:80'

  integrationapi:
    image: ${DOCKER_REGISTRY-}integrationapi
    build:
      context: .
      dockerfile: IntegrationAPI/IntegrationAPI/Dockerfile
    networks:
      - app-tier
    environment:
      WAIT_HOSTS: consul:8500, vlsuscheduleapis:80, authapi:80
      WAIT_HOSTS_TIMEOUT: 300
    depends_on:
      - consul
      - authapi
    ports:
      - '5002:80'

  vlsuscheduleapis:
    image: ${DOCKER_REGISTRY-}vlsuscheduleapis
    build:
      context: .
      dockerfile: VLSUScheduleAPIs/VLSUScheduleAPIs/Dockerfile
    networks:
      - app-tier
    depends_on:
      - db.data
      - redis
      - consul
      - authapi
    environment:
      WAIT_HOSTS: consul:8500, authapi:80, redis:6379
      WAIT_HOSTS_TIMEOUT: 300
    ports:
      - '5003:80'